[2015-01-28 19:58] pires opened #2 "Release in Maven central"
This way anyone can use this directly in their Elasticsearch deployments.

For instance, in a ```Dockerfile```:
[code]

[2015-01-29 10:39] pires commented on #2
I just realized the plug-in itself needs dependencies, so it should be come something like:
[code]

Right?

[2015-01-29 10:43] jimmidyson commented on #2
Yes that's right. As with all Elasticsearch plugins, the zip contains
required dependencies & needs to be deployed rather than a single JAR.

On Thu Jan 29 2015 at 10:39:56 Paulo Pires <notifications@github.com> wrote:

[2015-01-29 11:26] jimmidyson commented on #2
Released & available at http://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes/1.0.0/

[2015-01-29 11:26] #2 closed

[2015-01-29 11:26] jimmidyson opened #3 "Namespace support"
Currently only supports default namespace.

[2015-01-29 11:27] jimmidyson opened #4 "Add service option alternative to selector"
To use the selector from the specified service instead.

[2015-01-29 12:20] pires commented on #2
Thanks @jimmidyson!

[2015-01-29 15:48] pires commented on #4
I'm not sure I agree with this.

In my case, I follow ES best-practice of separating my nodes in 3 groups:
* Masters (no data, no HTTP, just transport)
* Load-balancers (no data, just HTTP + transport)
* Data nodes (just data + transport)
So now, I want to things:
* Clients will use load-balancers alone, thus I need to provide a service for accessing this
* The service, ofc, must define a selector

[2015-01-29 15:58] jimmidyson commented on #4
Good points, thanks. Closing after this feedback.

[2015-01-29 15:58] #4 closed

[2015-04-25 00:29] mulloymorrow opened #9 "ES cluster cannot startup"
Following the deployment of an app with 2GB of memory usage, ES cannot be resized or deployed in k8s.

Following error when spinning up ES cluster in k8s:

[code]

[2015-04-25 01:19] pires commented on #9
@jimmidyson would it be possible to just get the service endpoints instead of retrieving all pods? After all, we're just looking for IP addresses.

Something like:
[code]

I can provide a PR but would like to know if we agree on this.

[2015-04-25 06:33] #3 closed

[2015-04-25 06:36] jimmidyson commented on #9
@mulloymorrow - raised fabric8io/origin-schema-generator#25 to sort this out. Will try to get a new release out asap. Thanks for the report.

@pires - sounds good to be, much more efficient.

[2015-04-26 10:24] jimmidyson commented on #9
@mulloymorrow would you be able to share the manifest causing the issue so I can verify the fix in our tests?

[2015-04-26 15:23] mulloymorrow commented on #9
Using fork of @pires manifests,@jimmidyson. https://github.com/porchdotcom/kubernetes-elasticsearch-cluster

[2015-05-02 21:34] jimmidyson commented on #9
Will be fixed in next fabric8 release train.

[2015-05-07 20:08] alan-czajkowski opened #10 "ES cluster on Tutum?"
i know this is not the appropriate place to post this, but is there any chance an ES plugin could be created for Tutum?
https://www.tutum.co/

[2015-05-12 20:51] mulloymorrow commented on #9
When's the next fabric8 release?

[2015-05-12 20:55] jimmidyson commented on #9
Fingers crossed this week.

On 21:51, Tue, 12 May 2015 Mulloy Morrow <notifications@github.com> wrote:

[2015-05-12 21:04] pires commented on #9
Please, let me know when it gets cut so I can continue with #11.

[2015-05-16 08:17] pires commented on #9
`fabric8-2.1.0` has just been tagged, so resuming work.

[2015-06-02 08:41] jimmidyson commented on #10
Hi @alan-czajkowski,

Sorry as I'm not a tutum user it's not something I have time to work on. Feel free to use this plugin as a base for your own tutum cloud plugin though.

Sorry!

[2015-06-02 08:41] #10 closed

[2015-06-02 09:57] pires commented on #9
So #12 has been merged and should fix this.

[2015-06-03 09:10] pires commented on #9
So `1.1.2` is out and just lacks documentation update. @mulloymorrow care to try this out and close if fixed?

[2015-06-03 09:13] jimmidyson commented on #9
@pires @mulloymorrow 1.1.2 isn't out yet sorry - had some problems getting this synced to Maven central.

I'm squeezing in service account auth too - will be ready very soon I promise!

[2015-06-03 09:53] pires commented on #9
@jimmidyson that should be 1.2.0 then ;)

[2015-06-03 10:17] jimmidyson commented on #9
@pires @mulloymorrow OK released 1.2.0, docker image available at `fabric8/elasticsearch-k8s:1.5.2` now or wait for central sync (~20 mins) until it's available on Maven central.

Updated documentation, albeit sparsely ;)

[2015-06-03 10:19] pires commented on #9
Awesome @jimmidyson. Thanks a lot.

[2015-06-14 18:51] pires commented on #9
This can be closed.

[2015-06-14 19:01] #9 closed

[2015-06-14 19:04] pires opened #15 "Failure to validate self-signed SSL certificate"
The service-account has been configured and provided to the pods.

[code]

[2015-06-14 19:17] jimmidyson commented on #15
Try an (undocumented) env var KUBERNETES_TRUST_CERT=true

On 20:04, Sun, 14 Jun 2015 Paulo Pires <notifications@github.com> wrote:

[2015-06-14 19:19] pires commented on #15
@jimmidyson thank you. I have a patch that fixes SSL validation by using the token provided to the pod. Would you be interested in it - it removes the need for Fabric8 API - or looking for a specific solution?

[2015-06-14 19:24] jimmidyson commented on #15
I thought the token provided to the pod for a service account was just a bearer token file? How does that solve cert validation? Interested to see it.

[2015-06-14 19:41] pires commented on #15
@jimmidyson nevermind, you are right. Anyway, do you see a better solution?

[2015-06-14 19:44] jimmidyson commented on #15
Try to push https://github.com/GoogleCloudPlatform/kubernetes/issues/7648...

[2015-06-14 20:08] pires commented on #15
Just did, thanks.

[2015-06-14 20:27] pires commented on #15
@jimmidyson it seems I can query the API but the service account is not working and the plug-in execution is unauthorized.

The controller
[code]

The service-account
[code]

The logs
[code]

[2015-06-15 10:21] jimmidyson commented on #15
@pires Can you please exec into the container & check that the service account token automounted at `/var/run/secrets/kubernetes.io/serviceaccount/token` exists & is readable?

[2015-06-15 11:42] pires commented on #15
@jimmidyson seems so.

[code]

[2015-06-16 09:06] pires commented on #15
@jimmidyson anything else I can do to figure this out? Thank you.

[2015-06-16 11:07] jimmidyson commented on #15
Sorry @pires - was really busy last week. Let me take a look now.

On your side, can you try to see if the service account token works with curl - something like:

`curl -k -H "Authorization: Bearer $(cat /var/run/secrets/kubernetes.io/serviceaccount/token)" https://kubernetes/api/v1/namespaces/default/pods`

[2015-06-16 11:22] pires commented on #15
[code]

@jimmidyson any hint why `ls` shows the file exists, but `curl` complains it does not?

[2015-06-16 11:23] pires commented on #15
[code]

[2015-06-16 11:25] pires commented on #15
This worked @jimmidyson

[code]

[2015-06-16 11:27] pires commented on #15
I'm running Kubernetes `0.19.0`.

[2015-06-23 11:03] pires commented on #15
No update on this?

[2015-06-24 16:18] #15 closed

[2015-11-03 19:12] pires opened #16 "Support Elasticsearch 2.0"

[2015-11-09 22:48] jimmidyson commented on #16
Seems to be working... can you try master if you get a chance? Have to build locally obviously.

Not feature complete, but getting there & no tests yet - whole framework has changed - but will add in soon-ish.

[2015-11-09 23:51] pires commented on #16
I've tried a PR as well, but my tree wasn't updated and in merging proved to be a disaster. Will try to test it soon.

[2015-11-11 12:42] guiocavalcanti commented on #16
I got this error while installing:

[code]

[2015-11-11 12:46] jimmidyson commented on #16
The zip file is not released so you'll have to run with a locally built version & add it to your Docker image from your local file system.

[2015-11-11 13:42] guiocavalcanti commented on #16
Thanks @jimmidyson! It worked.

[2015-11-11 13:46] jimmidyson commented on #16
Ah brilliant! Thanks for trying it out. Will get a release out ASAP.

[2015-11-11 13:46] #16 closed

[2015-11-11 14:52] pires commented on #16
You should close the issue after the release ;)

[2015-11-11 14:54] jimmidyson commented on #16
No I should close the issue after code is in master as I have done. If I kept open all issues I've fixed until stuff is actually in a release then I'd never know what issues I no longer need to work on & then have to go & close them all when a release is done.

[2015-11-11 15:33] pires commented on #16
You're right.

[2015-11-11 15:34] pires opened #17 "Release 2.0 support"
Just so I (and possibly others) know when this is released.

[2015-11-12 21:25] jimmidyson commented on #17
Done! Yay! http://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes/2.0.0/

Please report any issues ASAP. I'll get working on tests some time, unless someone else wants to contribute?

[2015-11-12 21:25] #17 closed

[2015-11-12 21:26] pires commented on #17
Amazing job, @jimmidyson! Kudos.

[2015-11-17 18:27] dermidgen opened #18 "Permissions when running as non-root user"
I believe this may have something to do with the new security context, but I'm having a real tough time getting this working with ES 2.0.  Initially https://github.com/fabric8io/kubernetes-client was having trouble connecting due to an inability to read `/var/run/secrets/kubernetes.io/serviceaccount/*`.  This used to work fine when ES ran under root; no longer. I resorted to exporting `KUBERNETES_

[2015-11-18 11:20] pires commented on #18
@jimmidyson I think we need something like https://github.com/elastic/elasticsearch/blob/master/plugins/discovery-gce/src/main/plugin-metadata/plugin-security.policy, do we not?

[2015-11-18 11:33] jimmidyson commented on #18
Probably :) PR very welcome.

[2015-11-18 11:42] pires commented on #18
See also https://github.com/elastic/elasticsearch/blob/d81993026112b4557c5d387b4348a1d0f18865b8/docs/plugins/authors.asciidoc#java-security-permissions

@dermidgen want to give a try at this? I'm too busy this week.

[2015-11-18 16:09] dermidgen commented on #18
@pires  @jimmidyson I will see what I can come up with; thanks

[2015-11-18 17:27] dermidgen commented on #18
Gosh; I'm really having some trouble running local maven tests. @jimmidyson can you run tests against a PR for me?

[2015-11-18 17:34] jimmidyson commented on #18
We haven't got any tests for this 2.0 version yet! Sorry was cobbled together & loads changed - PR welcome for that too ;)

[2015-11-19 00:26] dermidgen commented on #18
I sure would love to, but I was struggling a bit to get my environment going. @pires has a branch https://github.com/pires/elasticsearch-cloud-kubernetes/tree/2.0.0 that he's been working on and it looks like he's been trying to get testing going as well.

[2015-11-19 00:40] danielschonfeld commented on #18
I think we might need more than ReflectionPermission.  We're running into the same problems as @dermidgen is running + also getting permission denied when trying to open either the `~.kube/config` file or the `ca.crt` or `token` files.

Example:

[code]

[2015-11-19 09:37] jimmidyson commented on #18
I think we should make the security policy as strict as we can but still work. Right now we need to be able to read files (any really as `KUBECONFIG`, etc can be set via env vars which we can't use in security policies AFAIK) & `getProxySelector`.

How does that sound?

[2015-11-19 10:29] pires commented on #18
@dermidgen unfortunately that branch of mine is borked. I screwed up cause I hadn't merged with latest upstream changes. When I tried to do so, I got into a mess I couldn't get out of with the time availability I have at this moment.

@jimmidyson sounds like a plan!

[2015-11-19 10:49] jimmidyson commented on #18
I'm looking at this now... docs are terrible tbh so trying to figure it out... getting somewhere slowly.

[2015-11-19 12:29] jimmidyson commented on #18
Well I've hit a brick wall with this one. Not sure now if plugins can set security policies in 2.0, might have to wait for 2.1 which seems to have support for that.

Of course if anyone else can figure this out that would be awesome.

[2015-11-19 12:33] pires commented on #18
@jimmidyson any hints from the Elasticsearch community? We can try and get someone to enlighten our path  - not sure who, though.

[2015-11-19 12:34] jimmidyson commented on #18
Not sure either.

One option would be to disable security manager for 2.0 & reenable for 2.1 when it's released & we have a working security policy?

[2015-11-19 12:36] pires commented on #18
Why not? Seems a better choice than not supporting 2.0.

Anyway, regarding `FilePermission` could it be https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_plugin_and_packaging_changes.html#_symbolic_links_and_paths?

[2015-11-19 12:41] jimmidyson commented on #18
It could be but I'm not sure what the path property would be... Also considering that files can be specified via environment variables I think we're going to have to go with a reasonably loose security policy anyway.

[2015-11-19 13:10] jimmidyson commented on #18
Well I got further by disabling the security manager (adding `security.manager.enabled: false` to `elasticsearch.yml`) & that's highlighted another problem so will look at fixing that in the meantime.

[2015-11-19 15:30] jimmidyson commented on #18
I've just published version 2.0.2 of the plugin with some fixes. This will only work with security manager disabled. Please try it out & let me know if this issue can be closed.

[2015-11-19 15:42] dermidgen commented on #18
@jimmidyson thank you so much - trying it out now.

[2015-11-19 15:46] jimmidyson commented on #18
Don't say thanks before you've tried it ;)

[2015-11-19 16:16] dermidgen commented on #18
Oh snap! Looks good to me!

[code]

[2015-11-19 16:26] jimmidyson commented on #18
Looks like a gremlin in there though. Could you share your Kubernetes manifest? Also looks like your binding to localhost only - this is a change in ES 2.0 I think - try adding `network.host: 0.0.0.0` to bind to all interfaces otherwise things might not work quite right.

[2015-11-19 16:28] pires commented on #18
@dermidgen did you add the `privileged` stuff to the pod spec?

[2015-11-19 16:29] jimmidyson commented on #18
Why do you need that?

[2015-11-19 16:31] pires commented on #18
@jimmidyson because of memory allocation permissions for `elasticsearch` user inside the container. See https://github.com/pires/docker-elasticsearch/issues/7

[2015-11-19 17:01] dermidgen commented on #18
@pires I did add privileged to my rc. Take note that the parameter moved to securityContext and cannot be set on the container anymore in v1.1. @jimmidyson I believe you mentioned you were on a custom Kubernetes cluster; if you're running v1.0+ you can run privileged with the parameter set on the container. For those running on Google Container Engine, your cluster _must_ be running Kubernetes v1.

[2015-11-19 17:03] jimmidyson commented on #18
So closing this now. Thanks for all your input.

[2015-11-19 17:08] dermidgen commented on #18
@pires @jimmidyson - thanks for the help!

[2015-11-19 17:11] pires commented on #18
@dermidgen thanks for bringing this up and thank you once more @jimmidyson for your amazing fixing skills. I'm going to update the official docs after some more tests.

[2015-11-19 18:56] danielschonfeld commented on #18
Is setting `discovery.zen.minimum_master_nodes:2` in elasticsearch.yml detrimental to this plugin? I'm getting an insanely weird error and this is about the only thing I can think of.

Otherwise have followed everything mentioned above

The error is:
[code]

[2015-11-19 19:03] pires commented on #18
@dermidgen what was the fix?
[code]

[2015-11-19 19:04] #18 closed

[2015-11-19 19:35] jimmidyson commented on #18
No that is totally unrelated. It looks like the service you're using is multi-port including both the http & transport ports - is that right?

[2015-11-19 19:36] jimmidyson commented on #18
What it looks like is it's trying to use the http port for cluster comms - you need to separate out the services.

[2015-11-19 19:47] danielschonfeld commented on #18
That's true. My service is both. Should I separate them each to their own ?
With 9300 used for cluster comms?

On Thursday, November 19, 2015, Jimmi Dyson <notifications@github.com>
wrote:

[2015-11-19 19:55] jimmidyson commented on #18
@danielschonfeld Yeah that's the best way to do it. This discovery uses the service endpoints which is a Cartesian product of endpoint addresses x ports. What I tend to do is use a headless service (i.e. one without a cluster IP) for cluster comms (port 9300) & a normal service for client (http) comms.

[2015-11-19 20:17] jimmidyson opened #21 "mlockall & capabilities not working"
[code]

[2015-11-19 20:17] jimmidyson commented on #21
@pires Any ideas?

[2015-11-19 20:44] dermidgen commented on #18
@pires the fix is to add `security.manager.enabled: false` to `elasticsearch.yml`

The following is more specific to your docker-elasticsearch-kubernetes.  Since we run under the user elasticsearch but without a home dir - there's no ~/.kube/config to be found. This parameter tells `kubernetes-client` not to try that, but use the service account cert and token from `/var/run/secretes/kubernetes.io

[2015-11-19 20:45] danielschonfeld commented on #18
@jimmidyson you're right, works like a charm now! Thank you much!

[2015-11-19 21:11] pires commented on #21
@jimmidyson works with my image.
[code]

[2015-11-20 09:09] jimmidyson commented on #21
Raised docker-library/elasticsearch#70

[2015-11-20 09:51] jimmidyson commented on #21
Docker image needs to be run with `--ulimit memlock=-1:-1` & then all is good. Now how to do that in Kubernetes?

[2015-11-20 10:04] pires commented on #21
Still open it seems https://github.com/kubernetes/kubernetes/issues/3595

[2015-11-20 10:05] jimmidyson commented on #21
Reading https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html looks like we should only resort to enabling `mlockall` if we can't disable swap or set swappiness to 1. Both these options should be doable for most users so closing this for now.

[2015-11-20 10:05] #21 closed

[2015-11-20 11:12] pires commented on #18
@dermidgen I don't need the following and it works with my descriptors: ```
- name: KUBERNETES_AUTH_TRYKUBECONFIG
          value: "false"
[code]

[2015-11-20 16:00] dermidgen commented on #18
@pires interesting!! When I was doing that it was trying to hit /home/elasticsearch/.kube/config - I will try again

[2015-11-20 16:09] jimmidyson commented on #18
@dermidgen that env var should be unnecessary as the file won't exist & so will just be ignored. This is on the proviso that you run with security manager turned off in Elasticsearch.

[2015-11-20 16:18] dermidgen commented on #18
@jimmidyson YUP! That's what it was - with security manager it barfs on permissions to the path - and doesn't get as far as ignoring it. With security manager turned off - everything is back to normal.

[2015-11-20 16:21] jimmidyson commented on #18
Ah cool. I'll try to get it working with security manager but there's no docs on it in 2.0. Have opened an issue at elastic/elasticsearch#14880

[2015-12-15 18:57] anil-g opened #23 "ES 2.1 plugin has permission issues to %user.home%/elasticsearch/.kube/config"
I have been trying to use the plugin for ES 2.1.0 but when I start the container, I get the error below:
[2015-12-15 00:30:28,049][WARN ][io.fabric8.elasticsearch.discovery.kubernetes.KubernetesUnicastHostsProvider] [Freakmaster] Exception caught during discovery: access denied ("java.io.FilePermission" "/home/elasticsearch/.kube/config" "read")

java.security.AccessControlException: access denied

[2015-12-15 22:59] jimmidyson commented on #23
You need to run with security manager disabled - see https://github.com/fabric8io/elasticsearch-cloud-kubernetes/blob/master/elasticsearch.yml#L20 for the setting. I'll add this to the readme.

Plugins will only be able to update security policy from 2.2 it seems - see https://github.com/elastic/elasticsearch/issues/14880 for more details.

[2016-01-01 16:12] danielschonfeld opened #24 "Make an ES 2.1.1 compatible version"
Requesting a version that's installable on ES 2.1.1.  Not sure if any 'real' changes are required for this to become a reality.

[2016-01-05 23:33] anil-g commented on #24
Hello Daniel,

Given that 2.1.1 is just a minor revision, I suppose the 2.1.0 version
should be compatible. Did you try 2.1.0?

plugin install io.fabric8/elasticsearch-cloud-kubernetes/2.1.0

On Fri, Jan 1, 2016 at 8:12 AM, Daniel Schonfeld <notifications@github.com>
wrote:

[2016-01-05 23:58] danielschonfeld commented on #24
@anil-g yes i did and there's an error generated by the plugin script that says it's not compatible.  That's what prompted me to open this issue.

[2016-01-06 00:02] jimmidyson commented on #24
I remember reading that it must be compiled with the exact target version... that sucks tbh so I hope there's a nicer way to do that - appreciate help if anyone knows?

[2016-01-06 01:28] drocsid opened #25 "Not compatible with ES 1.7.4"
I tried using plugin 1.3 with ES 1.7.4, as suggested by the docs. But it does not work.

[2016-01-06 01:26:16,382][INFO ][node                     ] [Crossbones] version[1.7.4], pid[23], build[0d3159b/2015-12-15T11:25:18Z]
[2016-01-06 01:26:16,382][INFO ][node                     ] [Crossbones] initializing ...
[2016-01-06 01:26:16,480][INFO ][plugins                  ] [Crossbones] loaded [cloud-

[2016-01-06 02:04] drocsid commented on #25
My bad, I was using the config from another version. I will test this futher but I am getting this warning: [2016-01-06 02:00:21,221][WARN ][io.fabric8.elasticsearch.discovery.k8s.K8sUnicastHostsProvider] [Elias Bogan] Neither cloud.k8s.service and cloud.k8s.namespace, or cloud.k8s.servicedns are set.

[2016-01-06 02:04] #25 closed

[2016-01-09 01:41] kujenga commented on #24
I'm seeing the same issue, output below. In the interim, would it be possible to just deploy the 2.1.1 version?

[code]

[2016-01-09 01:43] kujenga commented on #24
Perhaps you could try specifying the version of this plugin to be `2.1` rather than `2.1.0`, that might get around the specificity issue.

[2016-01-09 18:28] danielschonfeld commented on #24
@kujenga results:

[code]

[2016-01-09 19:42] kujenga commented on #24
Sorry, @danielschonfeld that was meant to be a suggestion for the project maintainers, I tried it as well 😊

[2016-01-09 19:49] jimmidyson commented on #24
I think @kujenga meant in the plugin.properties in the zip.

On 18:28, Sat, 9 Jan 2016 Daniel Schonfeld <notifications@github.com> wrote:

[2016-01-14 12:41] jimmidyson commented on #23
Closing now as no feedback. If this is still a problem please reopen.

[2016-01-14 12:41] #23 closed

[2016-01-14 12:46] jimmidyson commented on #24
I've tried this but it doesn't work. Seems like you need to match exact server version. Will publish a compatible version later today.

[2016-01-27 12:15] jpechane opened #26 "fabric8/elasticsearch-k8s requires non-random user"
If this image is run in OpenShift production environment as part of apiman application then it requires to be run as non-restricted container. So far I am using serviceAccount that belongs to privileged security context and runs as user id 0. The image should be able to run as any random UID.
It fails in starting script when it tries to do a chown.

apiman uses fabric8/elasticsearch-k8s:1.6.0 imag

[2016-02-08 18:00] pires commented on #24
@jimmidyson later _today_ will support 2.2.0 as well, right? :joy:

[2016-03-02 04:21] chrissnell opened #28 "Where is the Dockerfile for your fabric8/elasticsearch-k8s image?"
I've looked everywhere for the Dockerfile that y'all are using to build the elasticsearch-k8s image but can't find it.  Can somebody add it to this repo or other GH repo?

[2016-03-08 23:38] vaijab opened #29 "Is 2.2.0 supposed to work with java security manager enabled?"

[2016-03-09 08:12] jimmidyson commented on #29
Sorry adding the security manager config to the plugin hasn't been done yet. Contribution very welcome.

[2016-03-10 18:01] jimmidyson commented on #29
Thanks for the pointer. If anyone is able to send in a PR to fix this it would be most appreciated.

[2016-03-17 13:55] pires commented on #29
On it.

[2016-03-17 17:24] #29 closed

[2016-03-17 17:28] pires commented on #28
@chrissnell build takes care of generating it. See from https://github.com/fabric8io/elasticsearch-cloud-kubernetes/blob/master/pom.xml#L217.

[2016-03-17 17:28] pires commented on #24
2.2.1 is about to be released. Is this still needed?

[2016-03-17 17:30] jimmidyson commented on #28
Also see https://github.com/fabric8io/elasticsearch-cloud-kubernetes/blob/master/src/main/docker/Dockerfile which generates an intermediate Elasticsearch that works with arbitrary uids (security!). The final image just has the plugin added automatically from the build, but no Dockerfile is used for that.

[2016-03-17 17:30] #28 closed

[2016-03-17 17:31] jimmidyson commented on #24
Already released a 2.1.1 version (http://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes/2.1.1/) anyway so closing.

[2016-03-17 17:31] #24 closed

[2016-03-17 17:35] vaijab commented on #29
@pires thanks for that!

[2016-03-17 17:50] chrissnell commented on #28
Thanks!

[2016-04-04 17:35] danielschonfeld opened #34 "New version for 2.3.1?"
Can an updated config file be made for ES 2.3.1?

[2016-04-04 20:14] jimmidyson commented on #34
Of course - PR appreciated if possible.

[2016-04-17 12:45] haizaar commented on #34
+1 for this.

[2016-04-19 01:02] ddyycao commented on #34
+1

[2016-04-19 09:28] mrmiroslav commented on #34
+1

[2016-04-19 09:31] jimmidyson commented on #34
Please stop +1ing - using [reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) is much better now it's been introduced.

As I said above, if anyone wants to submit a PR for this it's a good one to contribute to, especially if you've never sent in a PR before. Otherwise I'll try to get to it some time this week.

[2016-04-21 08:52] #34 closed

[2016-04-21 09:09] jimmidyson commented on #26
This should work with arbitrary uid now.

[2016-04-21 09:09] #26 closed

[2016-04-21 09:49] jimmidyson commented on #34
Thanks to @pires - released to Maven Central - http://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes/2.3.1/.

[2016-05-05 10:02] thuandt opened #36 "New version for 2.3.2"
Can an updated config file be made for ES 2.3.2?

[2016-05-13 09:57] #36 closed

[2016-06-08 15:50] vaijab opened #38 "Please update to 2.3.3"
I am using another plugin which only supports 2.3.3 version of elasticsearch, it would be great if elasticsearch-cloud-kubernetes plugin is updated to support 2.3.3 version of elasticsearch.

[2016-06-08 16:09] jimmidyson commented on #38
PR welcome if you have time.

[2016-06-08 16:10] vaijab commented on #38
@jimmidyson will do.

[2016-06-08 16:30] #38 closed

[2016-07-21 00:25] equinox0815 opened #41 "Problem with logging..."
Hi,

I'm currently working on a small test setup based on Elasticsearch 2.3.4 with this plugin running on Kubernetes 1.3. For some reason the plugin can't connect to the API server or at least it doesn't feed any endpoints into Elasticsearch. It might have something to do with the fact that we use client certificates to authenticate against the Kubernetes API server but i can't confirm this becaus

[2016-09-02 15:59] simonswine opened #44 "Support PetSet mode"
I am thinking about extending this plugin to support PetSets in its current 1.3 implementation.

I think it would be great if we could support a safe way of scaling down. I would recon it's a good idea to have a hook during shutting down (after SIGTERM) like that:

- Look at my hostname which is (eg. es-data-N). If N+1 is smaller than desired PetSet size. Switch off data role and wait for all shar

[2016-09-02 16:03] jimmidyson commented on #44
That's an interesting idea. I'm not too sure about petsets but if you resize a petset does it not terminate the spare petsets?

Your idea could work nicely with a PreStop hook & a longer graceful termination period perhaps?

[2016-09-02 16:16] simonswine commented on #44
Yeah exactly I was thinking of a longer termination period. I am not familiar with ES and I guess it's hard to hook into the SIGTERM handling and migrate data away first. PreStop hook could work fine as well. I think I am going down that route for now, as the litte go helper could probably be used for other "Pets" as well. (And I am not really fond of setting up a Java environment :laughing: ).

I

[2016-09-02 16:17] jimmidyson commented on #44
Cool! I haven't looked at the Elasticsearch API to see if there's a way to flush replicas or indeed if a simple shutdown would be enough - I assume it would as long as you have redundant replicas.

[2016-09-04 14:28] simonswine commented on #44
Ok it seems to work pretty good with a lifecycle hook:
https://github.com/jetstack/elasticsearch-pet/blob/master/pre-stop-hook.sh

Maybe worth getting into the fabric8 image. I created a PR for kubernetes' charts:
https://github.com/kubernetes/charts/pull/58

[2016-10-01 02:01] elipapa opened #47 "unable to discover other nodes - caught exception while handling client on http traffic"
While spinning a deployment on GCE kubernetes 1.4, with three equivalent nodes (master=true, data=true), it appears that nodes fail to synchronize and agree on master role.

[code]

[2016-10-01 08:16] pires commented on #47
Please, share this node's configuration.

[2016-10-01 09:33] elipapa commented on #47
Thanks for looking into this!

1) ES docker file forked from https://github.com/pires/docker-elasticsearch-kubernetes with a few [more plugins installed](https://github.com/CTTV/docker-elasticsearch-kubernetes) and built on docker hub.

2) `kubectl create -f es-svc.yml` which reads:
[code]

3) followed by `kubectl create -f es-node.yml` which reads:
[code]

4) `kubectl get svc,po, deployment`

[co

[2016-10-01 10:03] pires commented on #47
You are using the same service both for clients and discovery. A node won't be able to connect to the other nodes if you're using a `LoadBalancer` service. Take a look at the two services detailed in https://github.com/pires/kubernetes-elasticsearch-cluster.

[2016-10-01 23:15] elipapa commented on #47
i had previously tried the two service approach and couldn't get the nodes to talk to each other.
I have tried again with two separate services and now it appears to work fine.
Thanks!

[2016-10-01 23:15] #47 closed

[2016-10-24 22:11] aadu opened #49 "Support ElasticSearch v5.0.0"
See https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_plugins.html

[2016-11-07 16:09] kayrus opened #52 "node cannot join the cluster"
For some reason nodes cannot join the master.

I have 6 k8s nodes. Each of them have a worker pod, and there are two elasticsearch clients. One of these worker pods could be a master. For some reason kopf plugin shows that there is a master and no worker pods. But worker pods are exist.

Master pod is reachable (when I use telnet on data port, master complains that the data is wrong) , worker node

[2016-11-07 16:12] kayrus commented on #52
Here is the pods which was just started:

[code]

[2016-11-08 18:17] errm opened #53 "Cannot install plugin on es 5.0.0"
when running

[code]

as suggested in the documentation I get the following output

[code]

It seems that elasticsearch is not looking for the plugin correctly...

I can install the plugin correctly by passing the full url of the zip hosted on maven-central

[code]

I guess this might just mean updating the documentation, but I am not really sure if this is a bug in elasticsearch, or something els

[2016-11-08 18:56] errm commented on #53
Ok I went ahead and took a look at the plugin installer source...

This works as expected...

[code]

[2016-11-08 20:41] #53 closed

[2016-11-16 11:20] pires commented on #49
Done.

[2016-11-16 11:20] #49 closed

[2016-11-16 11:21] pires commented on #52
Seems like a networking issue. Perhaps the interface it's bounded to isn't able to route requests?

[2016-11-16 11:29] kayrus commented on #52
It appeared that heap was not enough and every join request was taken too long and node just was not able to join the node. to avoid that you have to split node and master. consider closed.

[2016-11-16 11:29] #52 closed

[2016-12-11 13:36] yaron-idan opened #56 "Support for ES 5.1.1?"
Using this plugin with ES 5.0.1 and enjoying it greatly, I was curious to know is support for ES 5.1.1 that was launched next week coming up, and if so when?

Thanks,
Yaron.

[2016-12-13 12:37] pires commented on #56
Elasticsearch 5.1.x is not trivial since the plug-in spec as changed from 2.x to 5.x, and while 5.0.x supported the 2.x way of doing things, this is no longer the case with 5.1.x.

I'll be looking into it but feel free to open a PR.

[2016-12-15 11:24] #56 closed

[2016-12-22 13:34] qianzhangxa opened #60 "Failed to install plugin for Elasticsearch 2.4.1"
I can not install this plugin for Elasticsearch 2.4.1:
[code]

It seems this 2.4.1 plugin can not be found, can anyone please help?

[2016-12-22 13:53] jimmidyson commented on #60
Try replacing the colons with forward slashes.

[2016-12-22 14:21] qianzhangxa commented on #60
Yes, it works! Thanks a lot!

But can you please let me know why replacing the colons with forward slashes can fix this issue?

[2016-12-22 14:25] jimmidyson commented on #60
The plugin is distributed via maven central and that is the documented way to install plugins from maven central (https://www.elastic.co/guide/en/elasticsearch/plugins/2.2/installation.html#_community_and_non_core_plugins).

[2016-12-22 14:44] qianzhangxa commented on #60
But previously (months ago), I can install the plugin with colons in that command, just recently I found I failed to install it.

And I think the README.md of this repo may need to be updated. Currently it has an example like this:
[code]
We need to replace the colons with forward slashes in it as well?

[2017-01-12 18:05] jperville opened #62 "Build for ElasticSearch v5.1.2"
Hello,

Would it be possible to release a version of this plugin compiled for ES [v5.1.2](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/release-notes-5.1.2.html)? Only v5.1.1 is listed on Maven Central.

Thank you in advance.

[2017-01-20 05:09] luguoxiang opened #67 "warn log with exception does not print stack trace"
I found a warn log with KubernetesClientException in my elastic search log, but the stack trace is not printed:

[2017-01-20T03:07:10,393][WARN ][i.f.e.d.k.KubernetesUnicastHostsProvider] [es-client-2799791230-qm6t0] Exception caught during discovery: io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.
The log is printed like this in source code
logger.warn("Exception ca

[2017-01-20 15:07] iJoyCode opened #68 "Got corrupt indices on kubernetes"
Hello, if I use `hostPath` as volume storage in kubernetes, then I receive this error in log. If I use `emptyDir` storage, then no any problems.

Any ideas? I can attach my deployment file, if someone needed.

[code]

[2017-01-20 15:09] richm commented on #68
@iJoyCode not sure, but is this related to elasticsearch-cloud-kubernetes?

[2017-01-20 15:11] jimmidyson commented on #68
As @richm says, I don't see how this can be related to this plugin, which is only related to peer discovery. It looks like a storage issue to me.

I'm going to close this.

[2017-01-20 15:11] #68 closed

[2017-01-26 14:22] deadlyhawk commented on #67
Hello

i have same issue with elasticsearch-cloud-kubernetes-5.0.1 and with elasticsearch-cloud-kubernetes-5.1.1

[2017-01-27 10:31] das-vinculum opened #70 "Plugin does not reattempt discovery after UnknownHostException in KubernetesClient"
When using ElasticSearch 2.3.5 with the appropriate version of the Plugin, it seems that the API-DNS name is not discovered on the first attempt, which causes the join of the cluster to fail. Unfortunately the node does not reattempt joining the cluster, nor just shutdown the node in that case.

When manually restarting the pod it does recover the DNS gets resolved and the node joins the existing

[2017-01-27 11:09] pires commented on #70
I don't think it's the responsibility of the plug-in to retry but rather the discovery engine. Is there anything in contrary?

[2017-01-27 15:03] das-vinculum commented on #70
I am not sure, the plugin does return an empty list and does not throw the Exception.

I found out, that the Unicast provider in ElasticSearch, for AWS, Azure and GCE, do it in the same way.  See the `GCEUnicastHostsProvider` https://github.com/elastic/elasticsearch/blob/2.3/plugins/cloud-gce/src/main/java/org/elasticsearch/discovery/gce/GceUnicastHostsProvider.java#L99 for example.

So @pires is

[2017-01-31 23:24] speedplane commented on #62
Version 5.2.0 just came out, would be nice to see a build for that as well.

[2017-02-01 07:54] pires commented on #62
Feel free to open a PR.

[2017-02-01 08:11] speedplane commented on #62
Done https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/71

[2017-02-02 08:26] #70 closed

[2017-02-06 22:49] thomastaylor312 opened #72 "Invalid plugin version in docker image"
Not sure if this is the correct repo for this, but the 5.2.0 image does not have the correct version of elasticsearch installed:

[code]

[code]

[2017-02-13 07:07] huangfushun commented on #72
please fix incompatible version with images 2.4.4

[2017-02-14 11:28] Fantomatic commented on #67
Same for me with the  5.2 version

[2017-02-14 11:30] jimmidyson commented on #67
PR welcome to fix it if any of you have time.

[2017-02-24 17:11] jcantrill opened #74 "Allow user to configure availability zone."
@portante per your request, opening this issue to modify the plugin to be configured to include an availability zone

[2017-02-25 15:48] portante commented on #74
Thanks @jcantrill.

Here is an example configuration we use.  We have 6 nodes, 3 in each rack.  We consider a rack an availability zone.  So we do the following:

[code]

Here we provide an arbitrary metadata data on the node using an attribute name we define, called `rack_id`.  We tell Elasticsearch the attribute's name using `cluster.routing.allocation.awareness.attributes`, and set it to the ar

[2017-03-08 07:06] prashantchitta commented on #72
I am getting the same error that @thomastaylor312 got. I am currently using https://hub.docker.com/r/fabric8/elasticsearch-k8s/tags/ 5.2.0 version. Is there any plan to upgrade the image with the fix?
cc @pires @jimmidyson

[2017-03-08 07:29] #72 closed

[2017-03-14 17:26] madchap opened #77 "Random failure with ServiceAccount authorization"
Hi,

Running with coreos-kubernetes multinodes vagrant setup (virtualbox) for some tests, everything looks pretty good, except that, 1 time out of 2, the serviceaccount used (not the "default", but an "elasticsearch" serviceaccount) is "401 - unauthorized" as:

[code]

If I repeatedly call this command (which maps my setup):
[code]

I will 1 time get the expected JSON response back (200), and anot

[2017-03-14 20:57] madchap commented on #77
Outcome of a small loop:
[code]
OK
OK
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
OK
OK
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
OK
OK
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
Unauthorized
OK
OK
Unauthorized
Unauthorized
Unauth

[2017-03-14 21:00] madchap commented on #77
On the apiserver side, I am seeing things such as:

[code]
or
[code]

Yet, I know nothing about that... yet.

[2017-03-30 06:13] liqlin2015 opened #78 "Failed to start Kubernetes cloud plugin with IBM 8-jre"
When I try to switch from openjdk:8-jre to ibmjava:8-jre, the Kubernetes cloud plugin failed to be started with following error,

[code]

Not sure the difference between openjdk:8-jre and ibmjava:8-jre.

[2017-03-31 03:04] liqlin2015 commented on #78
Does it support to use insecure connection between Kubernetes API server? Then we can bypass ssl authentication.

[2017-04-02 14:29] madchap commented on #77
Most likely an error on my part, where I had specified multiple selectors, overwriting each other. Will re-open if I am wrong. Thanks.

[2017-04-02 14:29] #77 closed

[2017-04-11 22:08] fracklen opened #79 "Release for 5.3.0"
Hi

Trying to use the plugin, but need to run 5.3.0. Is there an ETA for a build for 5.3.0?

[2017-04-17 15:19] osman commented on #79
:+1: also need support for 5.3.0

[2017-04-24 15:20] fmatoss opened #81 "Push 2.3.5 to Docker Hub"
There is a release for this version, but it's not in Docker Hub registry.

https://hub.docker.com/r/fabric8/elasticsearch-k8s/tags/
https://github.com/fabric8io/elasticsearch-cloud-kubernetes/releases/tag/elasticsearch-cloud-kubernetes-2.3.5

[2017-04-25 13:15] jperville opened #82 "Release for elasticsearch v5.3.1"
Hello, would it be possible to have a release of this plugin compatible with elasticsearch v5.3.1 released on April 20th? Thank you in advance.

[2017-04-27 11:01] jperville commented on #82
Should be closed now that #83 has been merged.

[2017-04-27 11:01] #82 closed

[2017-04-28 03:25] EdisonSu768 opened #84 "Connection refused"
hi, there i'm using elasticsearch 1.4.4 and kubectl 1.5.1

i used 1.0x verison of this plugin

then i install this plugin which gives me a ERROR log like this

i'm newer in java so i got trouble

_`**### [2017-04-27 08:54:00,561][INFO ][node                     ] [Captain Britain] version[1.4.4], pid[11], build[c88f77f/2015-02-19T13:05:36Z]
[2017-04-27 08:54:00,561][INFO ][node

[2017-05-08 19:20] kujenga opened #85 "Service Account role for Kubernetes 1.6"
I'm working on getting an Elasticsearch cluster running on Kubernetes 1.6 using this plugin. The following error message is preventing the cluster from coming up:

[code]

My guess is that Kubernetes 1.6 needs the service account created for this plugin to be bound to a specific role. How can I determine which role is the minimally permissioned one that this plugin can use?

[2017-05-17 12:41] macpoint opened #87 "5.4.0 Release"
Hi,
although it seems that changes for 5.4.0 have been committed, release is not yet in place:

[code]

Thanks

[2017-05-17 14:08] jimmidyson commented on #87
Sorry - just kicked release build - https://ci.fabric8.io/view/release%20builds/job/elasticsearch-cloud-kubernetes-release/74/console follow along if you dare :)

[2017-05-17 14:31] macpoint commented on #87
Thank you, it works now.

[2017-05-17 14:31] #87 closed

[2017-06-13 09:45] macpoint opened #88 "Any plans for 5.4.1 ?"
Are the any plans for 5.4.1 release? There are some important bug fixes (including security) in that version...

Thanks

[2017-06-23 14:23] wozniakjan opened #90 "Readiness probe and master discovery"
During our testing, we stumbled upon an issue using this plugin, ES cluster larger than one and readiness probe. I think it is possible that discovering nodes through the service could turn into a deadlock.

More thorough description with one possible solution that seems to work in our case can be found here:
https://github.com/wozniakjan/elasticsearch-cloud-kubernetes/pull/1

Bugzilla reporting t

[2017-06-23 17:40] portante commented on #90
It seems we might be missing the spirit of what a readiness probe means for Elasticsearch.  An OpenShift readiness probe refers to the readiness of a particular pod to operate.  It does not refer to the readiness of the global distributed service that pod is part of when running.

The readiness of an Elasticsearch pod should be to make sure the low-level services needed by the ES pod are in place:

[2017-06-26 16:32] jcantrill commented on #90
@jimmidyson Two questions related to this issue for which we have a PR
1.  Can we get a 2.4.4.x branch to which we merge a fix
2.  Do you have and aversion do using  pod labels for service discovery?

@portante I agree we should pursue a better probe but in context of the referenced issue, it appears @wozniakjan PR would resolve our short term concerns

[2017-06-28 11:03] jimmidyson commented on #90
I'm slightly surprised this hasn't been reported before by other users, of which there seem to be quite a few. Is this something we can consistently reproduce? I am aware we have no test suite to prove the problem and validate any fixes and I would be very grateful to anyone that provides that so we know this is really fixed.

Can't you just use the existing 2.x branch?

No aversion, but if elasti

[2017-06-28 11:46] wozniakjan commented on #90
yes, it looks like every time we try to deploy ES cluster larger than one with readiness probe waiting for the ES to respond 200. ES that has not yet successfully participated in master discovery responds 503, therefore the probe prevents it from participating in master discovery. Other solution could be based on identifying working ES pod differently than checking the 200 status code, we are curr

[2017-06-28 14:51] wozniakjan commented on #90
the only tests we did were:
1) deploy logging stack with 2 ES nodes (later tried also 3 and 4 nodes)
2) kill one of the ES pods to see if cluster recovers

The 1. step already fails for the current setup and implementation with the readiness probe
Attached are logs from discovery by service (as currently implemented) and discovery by label (as proposed as possible workaround)

[logs.zip](https://g

[2017-06-29 06:25] huangfuyixiao opened #92 "wait for long time ,but find error in the logs ,what i not do ?"
[2017-06-29T19:33:05,628][WARN ][o.e.d.z.ZenDiscovery     ] [es-master-4168550062-gm6l4] not enough master nodes discovered during pinging (found [[Candidate{node={es-master-4168550062-gm6l4}{H7tVok-ATvWmo5hehqpCqg}{zyrcNp2OQkqGuQ0ZlTS-kQ}{172.17.35.3}{172.17.35.3:9300}, clusterStateVersion=-1}]], but needed [2]), pinging again
[2017-06-29T19:33:10,628][WARN ][o.e.d.z.UnicastZenPing   ] [es-master

[2017-06-29 06:28] #92 closed

[2017-07-04 13:30] dragonsmith commented on #85
Hey!
I was not able to test this(mine plugin installation does not even try to use SA), but these SA, Role & RoleBinding should be fine.

[code]

Discovery plugin executes this query:
[code]

[2017-07-04 13:57] dragonsmith opened #93 "ElasticSearch fabric8 plugin does not use K8s SA for API requests"
Hello,

I'm trying to get ES 5.4.2 cluster to work on my K8s setup.

Here is the actual configuration:

[code]

[code]

I've used the image I've built by myself using [Dockerfile](https://github.com/evilmartians/elasticsearch-k8s/blob/master/Dockerfile) As the original `fabric8/elasticsearch-k8s:5.4.2` fails to load some java classes with the configuration above.

I'm getting only one line of log

[2017-07-07 15:36] jimmyjones2 opened #94 "Document advantage over headless service discovery"
The Elasticsearch docs for discovery.zen.ping.unicast.hosts says:

Given this is exactly what a headless kubernetes service would create, what is the advantage of using this plugin?

[2017-07-11 07:58] marcofranssen opened #95 "When is a upgrade to version 5.5.0 planned?"
Are there any plans to upgrade to 5.5.0?

Could it be just an increment of the version numbers like the commit for 5.4.2 did?

I'm happy to supply that commit if that is all required.

[2017-07-11 09:10] jimmidyson commented on #95
That should probably be enough, yes. If you give it a go and submit a PR we should be able to check pretty easily.

[2017-07-12 21:36] bambash opened #97 "5.5.0 not in maven repo"
I see on the readme that you have:
```elasticsearch-plugin install io.fabric8:elasticsearch-cloud-kubernetes:5.5.0```

the package doesn't exist yet in maven:
https://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes/

any idea when it will be pushed?

Thanks!

[2017-07-19 12:59] marcofranssen commented on #97
I did the PR to upgrade this package to 5.5.0. Also waiting for this plugin to become available on maven.

[2017-07-19 13:12] jimmidyson commented on #97
Sorry just kicked release now.

[2017-07-25 10:46] wozniakjan commented on #90
After discussion with @jcantrill, I created a pull request https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/98

[2017-07-26 21:37] r4j4h commented on #97
Looks good, but want to point out before we close this that 5.5.1 is out. Seems like not many changes needed here, just to be pushed.

[2017-08-03 07:32] quickwind opened #100 "Support for elasticsearch 5.5.1"
When will be the support for es 5.5.1?

[2017-08-03 07:39] jimmidyson commented on #100
We'd appreciate a PR if you feel like submitting one?

[2017-08-08 14:09] jperville commented on #100
@jimmidyson a PR already exists, waiting to be merged, see #99.

[2017-08-17 14:36] agustinbs opened #102 "Is image in dockerhub fabric8/elasticsearch-k8s:5.4.2 correct?"
Hello,

image 5.4.2 would not start, I got ClassNotFound for the plugin class name:

[2017-08-17T14:24:30,932][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [] uncaught exception in thread [main]
--
  | org.elasticsearch.bootstrap.StartupException: ElasticsearchException[Could not find plugin class [io.fabric8.elasticsearch.plugin.discovery.kubernetes.KubernetesDiscoveryPlugin]]; nested: **C

[2017-09-13 13:57] metal3d commented on #72
as @huangfushun same problem on 2.4.4

[2017-09-22 06:40] #90 closed

[2017-09-25 19:39] secat opened #106 "Support for elasticsearch 5.6.1"
Is there an ETA for the support of [elasticsearch 5.6.1](https://github.com/elastic/elasticsearch/releases/tag/v5.6.1)?

[2017-10-05 14:47] gdmelloatpoints commented on #106
5.6.2 #107

[2017-10-11 11:47] tuxx opened #108 "Support for 6.0.0-rc1"
I would like to test this plugin with elasticsearch 6.0.0-rc1. I tried compiling it myself but i get all kinds of errors when changing the the version and elasticsearch.version in pom.xml.

Has anyone tried compiling this for 6.0.0 and got it working?

`
[ERROR] /home/tuxx/code/elasticsearch-cloud-kubernetes/src/main/java/io/fabric8/elasticsearch/plugin/discovery/kubernetes/KubernetesDiscoveryPlug

[2017-10-12 22:47] amir20001 commented on #108
GH-109 should fix that

[2017-10-13 13:07] tuxx commented on #108
Thanks alot :)

[2017-10-13 13:07] #108 closed

[2017-10-13 23:37] bennidhamma commented on #106
5.6.3?

[2017-11-21 19:09] llonchj opened #110 "Support for Elasticsearch 6.0"

[2017-11-29 10:46] romainruaud opened #111 "Unable to build custom 5.x images in Openshift"
Hello,

First of all, thank you for the great work on these project.

I am testing your images on an Openshift 3.5 application. I do not know if you plan to support Openshift or if you are just supporting Kubernetes.

I am building a custom image derivating yours, with a FROM. I'm just installing additional plugins in my custom image.

The 2.2 and 2.4 images build are running great in Openshift. B

[2017-12-05 10:19] deimosfr opened #112 "Plugin for ES 2.4.6"
Hi,

Could you please release the plugin for ES 2.4.6 please ?

Thanks

[2018-01-04 15:08] monotek commented on #110
6.1

[2018-02-07 09:20] RecursionTaoist commented on #110
6.1.1

[2018-02-22 21:37] xuhao318 commented on #110
error when install 6.1.1 plugin
`./elasticsearch-plugin install io.fabric8:elasticsearch-cloud-kubernetes:6.1.2
-> Downloading io.fabric8:elasticsearch-cloud-kubernetes:6.1.2 from maven central
Exception in thread "main" java.io.FileNotFoundException: https://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes/6.1.2/elasticsearch-cloud-kubernetes-6.1.2.zip
	at sun.reflect.NativeConstr

[2018-02-27 21:06] hmacias opened #119 "Maven java.io.FileNotFoundException for elasticsearch-cloud-kubernetes-6.1.2.zip"
I tried installing this plugin's 6.1.2 version in a container running docker.elastic.co/elasticsearch/elasticsearch:6.1.2. The following exception is thrown:

`[elasticsearch@d4e70f2404c5 ~]$ ./bin/elasticsearch-plugin install io.fabric8:elasticsearch-cloud-kubernetes:6.1.2
-> Downloading io.fabric8:elasticsearch-cloud-kubernetes:6.1.2 from maven central
Exception in thread "main" java.io.FileNotF

[2018-02-27 21:48] rchernobelskiy commented on #110
Looks like the builds pushing to the maven repo have been broken for awhile, should be a simple fix though:
https://ci.fabric8.io/view/release%20builds/job/elasticsearch-cloud-kubernetes-release/

[2018-02-28 15:05] jcantrill commented on #110
@maxandersen This is the same issue I had with the a few other fabric repos.  There is no one who is maintaining the release jobs.  I resolved by posting releases to Github directly but we should get someone to take ownership ASAP

[2018-03-06 11:31] smileisak commented on #119
Some issue. Can someone build the `6.1.2` release plz ?

[2018-03-06 22:25] jcantrill commented on #119
I dont have rights to push to maven, best I can do for you: https://github.com/fabric8io/elasticsearch-cloud-kubernetes/releases/tag/elasticsearch-cloud-kubernetes-6.1.2

[2018-03-06 22:25] #119 closed

[2018-03-06 22:25] jcantrill commented on #119
@maxandersen Help me help you....

[2018-03-07 15:01] hmacias commented on #119
May I ask why this was closed if https://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes/6.1.2/elasticsearch-cloud-kubernetes-6.1.2.zip is still returning HTTP 404?

[2018-03-08 15:41] pdlug commented on #119
Having the same issue, agree this shouldn't have been closed.

[2018-03-08 19:02] jcantrill commented on #119
@hmacias @pdlug See comment https://github.com/fabric8io/elasticsearch-cloud-kubernetes/issues/119#issuecomment-370951248  If you wish to reopen thats your prerogative but I am unable to say when it will be available in maven

[2018-03-09 03:23] hmacias commented on #119
Thank you @jcantrill

[2018-03-13 11:12] prune998 commented on #110
Still broken :(

[2018-03-13 11:40] prune998 opened #120 "is this project abandoned ? can't find 6.1 resources"
can't find 6.x plugins
can't find 6.x images on dockerhub
can't build plugin package for 6.x

[code]

Then :
[code]

Am I missing something ?

[2018-03-13 14:18] richm commented on #120
The team is primarily focused on 5.x for https://github.com/openshift/origin-aggregated-logging
PRs for 6.x support are welcome

[2018-03-13 14:21] prune998 commented on #120
Well, I reverted to 5.5.2... working as expected :)
I'll try some PRs when I move from Go to Java, maybe later when I'm dead :p

BTW, thanks for all your good work !

[2018-03-13 14:53] jcantrill commented on #120
@prune998 Please be patient... We are working to resolve publishing rights for this project

[2018-03-16 12:53] pkrishnath commented on #120
same issue here. i was looking for 6.2.2 and failed for same reason
Read me file description is confusing !!!!

[2018-03-20 13:17] kiloreux opened #121 "README confusion"
README file mentions that we can have 6.1.2 while that's not possible if you try to use the repo. Something wrong possibly?

[2018-03-21 13:11] jcantrill commented on #121
Only place it exists for the time being https://github.com/fabric8io/elasticsearch-cloud-kubernetes/releases/tag/elasticsearch-cloud-kubernetes-6.1.2

[2018-03-21 13:11] #121 closed

[2018-04-05 08:00] juan131 commented on #120
Hi @richm @jcantrill

I created a PR https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/123 to update the plugin for ES 6.2.3 that was already merged. Could you release a new version please for that version?

Thanks in advance!

[2018-04-05 14:53] jcantrill commented on #120
@juan131 I can post a released version to this repo but am still working through getting permissions to publish to mvn.  Is this an acceptable way for you to consume the artifact?

[2018-04-05 15:09] juan131 commented on #120
Hi @jcantrill

In order to install it on ES following the standard approach it should be published at:
https://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-kubernetes

It would be great if you could publish it there.

In the meantime, I can try to implement a workaround so I download the plugin from GitHub.

Thanks again!

[2018-04-05 17:55] Battleroid commented on #120
Yep, if it can be published on Maven that'd be great.

[2018-04-06 13:31] jcantrill commented on #120
@juan131 @Battleroid  I believe you are missing what I said in previous comments.  I am still working to get permissions to publish to maven;  I am fully aware maven.org is the desired destination.  Elasticsearch plugin install will accept a url to the artifact  which can be file, http, etc.  If you need it before I am able to establish permissions, I am more then happy to publish as a github rele

[2018-04-11 13:09] jcantrill commented on #120
@juan131 Best I can do for you for the time being https://github.com/fabric8io/elasticsearch-cloud-kubernetes/files/1898895/elasticsearch-cloud-kubernetes-6.1.3.zip

@prune998 I don't have information regarding the images.  @maxandersen This is another area where we require ownership to ensure those images are produced

[2018-04-11 13:10] jcantrill commented on #120
Closing as we have viable source for the artifact until the maven bits can be sorted out.

[2018-04-11 13:10] #120 closed

[2018-04-11 13:11] jcantrill commented on #110
@llonchj @rchernobelskiy @prune998  Does this resolve your needs for the time being? https://github.com/fabric8io/elasticsearch-cloud-kubernetes/releases/tag/elasticsearch-cloud-kubernetes-6.1.3

[2018-04-11 13:15] prune998 commented on #110
I would say yes... still have to try it :)

[2018-04-11 19:29] jcantrill commented on #120
@calinah Try this one:  https://github.com/fabric8io/elasticsearch-cloud-kubernetes/releases/tag/elasticsearch-cloud-kubernetes-6.1.2.1

[2018-04-12 09:26] calinah commented on #120
@jcantrill I get this now:
[code]

[2018-04-12 15:04] jfborie opened #125 "elasticsearch-plugin install io.fabric8:elasticsearch-cloud-kubernetes:6.2.3"
FileNotFoundException: https://repo1.maven.org/maven2/io/fabric8/elasticsearch-cloud-
kubernetes/6.2.3/elasticsearch-cloud-kubernetes-6.2.3.zip

Can you push the file to maven?

[2018-04-13 12:03] datarace commented on #125
+1

[2018-04-13 15:45] jcantrill commented on #120
@calinah Let me check it.  I installed it locally with now issue

[2018-04-13 15:56] jcantrill commented on #120
@calinah Did you try using the URL to the actual zip: https://github.com/fabric8io/elasticsearch-cloud-kubernetes/releases/download/elasticsearch-cloud-kubernetes-6.1.2.1/elasticsearch-cloud-kubernetes-6.1.2.1.zip

[code]

[2018-04-17 02:36] afilimonov opened #126 "Java permissions exception running plugin 6.2.3"
I’m getting this during discovery:

java.security.AccessControlException: access denied ("java.lang.RuntimePermission" "accessDeclaredMembers")

I validated that plugin is installed correctly and plugin-security.policy file is there. I’m running the plugin with official Elasticsearch Docker image. ES starts fine without Kubernetes discovery.

[2018-04-19 00:46] ron1 opened #127 "Maintain and release from 5.6.x branch while ES 5.6.x remains active"
Maintain a 5.6.x branch of this plugin and release from it as requested while ES 5.6.x branch remains active.

[2018-04-19 14:00] jcantrill commented on #110
6.2.3.1 of the plugin released through a proper release workflow.  Closing this issue.  Please open a new issue with the desired ES compatibility version if others are needed.

[2018-04-19 14:00] #110 closed

[2018-04-19 14:01] jcantrill commented on #125
6.2.3.1 pushed to maven via proper release workflow.  Please reopen if you have issues.

[2018-04-19 14:01] #125 closed

[2018-04-19 14:02] jcantrill commented on #126
Please try 6.2.3.1 which is pushed to maven via proper release workflow

[2018-04-19 14:08] jcantrill commented on #97
Released Wed Jul 19 2017 09:12:41 GMT-0400 (EDT).

[2018-04-19 14:08] #97 closed

[2018-04-19 14:08] jcantrill commented on #100
Released
Tue Aug 08 2017 13:50:27 GMT-0400 (EDT)

[2018-04-19 14:08] #100 closed

[2018-04-19 14:17] jcantrill commented on #106
@gdmelloatpoints @bennidhamma @secat Can we close in favor of #113

[2018-04-19 14:30] juan131 commented on #125
Thanks @jcantrill I can confirm it's working using version 6.2.3.1! 👏

[2018-04-19 14:49] juan131 commented on #126
@jcantrill I just reproduce it with 6.2.3.1:

[code]

I'm using the same RBAC configuration I was using on previous versions on the plugin.

[2018-04-19 14:52] juan131 commented on #126
It seems the `src/main/plugin-metadata/plugin-security.policy` was modified on commit 7b62eb026e22ab54d85c90079cf1a1d1f6dbbeec

Just in case it's related.

[2018-04-19 15:00] richm commented on #106
5.6.9 now - https://www.elastic.co/downloads/past-releases/elasticsearch-5-6-9

[2018-04-19 15:27] jcantrill commented on #126
@ruromero Can you speak to why this change was made https://github.com/fabric8io/elasticsearch-cloud-kubernetes/commit/c0404ba2a2c6e69353c8507a30e09b72f0d86909  or if you know why we just cant add this permission back?

[1] ref: https://docs.oracle.com/javase/7/docs/technotes/guides/security/permissions.html

@iocanel Can you speak to this change?  I presume its coming from the kubernetes-client.

[2018-04-20 06:49] ron1 opened #131 "Release for 5.6.9"
Please release 5.6.9 version of plugin. See prerequisite PR https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/130.

[2018-04-20 12:50] jcantrill commented on #88
Do you need 5.4.1 or will #131 suffice?

[2018-04-20 19:02] ron1 commented on #131
I see prereq PR was committed to 5.6.x branch. Thanks. Do you have an ETA for releasing 5.6.9?

[2018-04-21 15:15] jcantrill commented on #131
Done. I should be available in the public repos in the next several hours

[2018-04-21 15:15] #131 closed

[2018-04-21 15:25] jcantrill commented on #81
@fmatoss Do you need 2.3.5 or can you use 2.4.4?

[2018-04-21 15:27] jcantrill commented on #60
@qianzhangxa Please consider submitting a PR if there is a documentation issue.

[2018-04-21 15:27] #60 closed

[2018-04-21 15:28] #62 closed

[2018-04-21 15:29] jcantrill commented on #84
Closing.  Unlikely to fix with any version older then 2.x

[2018-04-21 15:29] #84 closed

[2018-04-21 15:31] jcantrill commented on #94
@t0ffel Can you comment on this?  Are you not evaluating the need or not needing this plugin because of question being asked

[2018-04-21 16:03] fmatoss commented on #81
I had this need because of some apps using elastic4s lib in scala 2.10, their latest compatible client is for version 2.3.x (https://github.com/sksamuel/elastic4s#release)

But now I am not running ES in kubernetes, nobody reacted to this issue after almost an year, I think no one else needs this, so you can ignore/close this issue if you want.

[2018-04-23 08:16] ruromero commented on #126
@jcantrill It was mentioned but not investigated here https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/116
I see it is now using 3.0.3 since https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/123

[2018-04-23 08:30] iocanel commented on #126
@jcantrill: I'm sorry. I have no idea!

[2018-04-23 14:57] #81 closed

[2018-04-26 19:18] jcantrill commented on #126
This exception is caused by the un/marshalling of responses when using the jackson libraries pulled in by kube-client.  Unless we wish to do some redesign, I'll lax the permissions to allow access

[2018-04-26 19:24] ruippeixotog commented on #126
I have just stumbled upon this issue, too. It would be great to have a hotfix release for this :)

(one unrelated question, why isn't there on Maven any 6.x version other than 6.2.3? Is there any other repo from which to install this? I am currently using Elasticsearch 6.2.1 in production, if I could avoid updating it for the time being it would be great)

[2018-04-26 19:31] #112 closed

[2018-04-26 19:33] jcantrill commented on #126
CI was broken for a while.  Please check the 'releases' page to see if you can get it from there in the interium

[2018-04-26 19:40] ruippeixotog commented on #126
Unfortunately, it seems that the releases on GitHub is also missing a 6.2.1 version... is there any chance for you to provide it somewhere? Even though publishing it on Maven would be ideal, I believe it's also easy to install a Elasticsearch plugin from an HTTP URL, so being on the releases page would be fine.

[2018-04-26 19:45] t0ffel commented on #94
@jcantrill I'm going to test this according to https://github.com/RHsyseng/docker-rhel-elasticsearch/pull/22 in our internal staging environment, if it works out I suggest that we gradually move toward that.

[2018-04-26 19:51] jcantrill commented on #94
@t0ffel Can you provide details here of how to set this up.  If works as advertised I would advocate recommending users to move to that pattern over the use of this plugin.

[2018-04-27 15:27] jcantrill commented on #126
@ruippeixotog I can publish something but presume it will have the same issues described in the bz.  I will provide something once we have it figured out.

[2018-04-27 19:02] jcantrill commented on #126
@afilimonov Can you provide details of your cluster and how you exposed this issue.  I locally:

* Rebuilt the 6.2.3 image `mvn docker:build`
* Deployed the image by creating the resources as described [here](https://hub.docker.com/r/fabric8/elasticsearch-k8s/)
* Inserted a single record
I don't see any errors. Possibly we have a bad build and need to republish?
[code]

[2018-04-30 04:14] #126 closed

[2018-05-02 10:50] ruippeixotog commented on #126
@jcantrill I was able to test the new version today and I can confirm that it's working for me, thank you very much for the quick fix!

As we discussed above, can you please release a version for Elasticsearch 6.2.1?

[2018-05-02 12:47] jcantrill commented on #126
@ruippeixotog should be publicly available from maven source shortly

[2018-05-10 14:15] ruippeixotog opened #138 "Discovery by label on Elasticsearch 5.x"
I see that #98 added support for discovery by label - a thing that I need, since I'm using Deployments and I need the readiness check to be failing in order for the deployment not to kill all old instances as soon as the new ones boot.

However, I can't see the feature in the latest version of the plugin. Is there any limitation I'm not aware of? Can this be ported to ES 5.x?

[2018-05-10 14:52] jcantrill commented on #138
It can.  PRs are welcome.  Also consider #94 where you may not even need this plugin

[2018-05-10 15:16] ruippeixotog commented on #138
Using only zen would be great! But what exactly would be the hostname I'd use to lookup all the pod IPs inside the cluster? ClusterIP services expose a hostname like `elasticsearch.default.svc.cluster.local`, but it points to a single IP - the IP of the service - from which requests are routed at the IP layer to the pod IPs.

[2018-05-10 16:50] jcantrill commented on #138
https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

[2018-05-11 07:37] gavk34 commented on #93
I am seeing something similar
[code]

The following is my role bindings etc.
[code]

And as per logged issue, curl for the api request works. Any ideas?

[2018-05-11 13:13] gavk34 commented on #126
What version(s) has this fix been released to? I see this in v5.6.9

[2018-05-11 13:26] jcantrill commented on #93
Most likely fixed with https://github.com/fabric8io/elasticsearch-cloud-kubernetes/commit/e734c5d2b1b60ed2110c7c1824b6e83921ad6be9   which is 5.6.9.2.  Downgraded the client to avoid the permissions issue

[2018-05-11 14:14] jcantrill commented on #126
5.6.9.2

[2018-05-11 14:19] gavk34 commented on #126
TY @jcantrill sorry about the spam 😄

[2018-05-14 20:42] ruippeixotog commented on #138
Oh, nice! I'm still a beginner using Kubernetes and I never explored those types of services. They seem to do the trick for discovery, yeah. Will try them later. Thanks again!

[2018-06-01 01:26] #85 closed

[2018-06-01 01:26] jcantrill commented on #93
Consider #140

[2018-06-01 01:26] #93 closed

[2018-06-01 01:27] jcantrill commented on #94
Closing in favor of #140

[2018-06-01 01:27] #94 closed

[2018-06-01 01:27] jcantrill commented on #138
@ruippeixotog see #140

[2018-06-01 01:27] #138 closed

[2018-06-01 01:28] jcantrill commented on #102
Consider #140

[2018-06-01 02:48] portante commented on #74
@jcantrill, how does a headless service help with making sure ES pods are in separate availability zones and that ES understands what zones their in to be sure data is replicated across the zones?

Isn't that what this issue is about?

[2018-06-01 12:46] jcantrill commented on #74
Feel free to reopen but I'm curious who is going to implement this feature.  Is this the reason we need this plugin over using headless services?  Is so, then we should mention that to address #94

[2018-06-04 18:21] portante commented on #74
This was actually misplaced originally; filed https://github.com/openshift/origin-aggregated-logging/issues/1197 instead.

[2018-06-07 08:35] 13567436138 opened #142 "what‘’s the plugin version for elasticsearch 2.2.0"
what‘’s the plugin version for elasticsearch 2.2.0

[2018-06-07 08:45] 13567436138 opened #143 "can not download"
[code]

[2018-06-07 08:45] #142 closed

[2018-06-14 05:54] #143 closed

[2018-09-18 16:05] clausa20 opened #144 "Support Elasticseacth 6.4 compatibility"
Please make it compatible to Elasticsearch 6.4.
Thanks

[2018-09-18 17:43] jcantrill commented on #144
This plugin is no longer required. Please see the README

[2018-09-18 17:43] #144 closed, assigned to nobody